.wrapper-header {
  max-width: 1440px;
  background-color: var(--yellow-light);
  height: 859px;
}

.home-wrapper {
  margin-top: 100px;
  margin-bottom: 150px;
  .content {
    width: 570px;
    height: 458px;
    h1 {
      margin-top: 12px;
    }
    p {
      margin-top: 18px;
      margin-bottom: 38px;
    }
    .btn {
      padding: 15px 35px;
      background-color: var(--orange);
      margin-top: 38px;
      color: var(--white);
      font-weight: 600;
      font-style: 18px;
      line-height: 30px;
    }
  }
  .main-img {
    position: relative;
    float: right;
  }

  img {
    // width: 330px;
    // height: 476px;
    object-fit: cover;
    position: absolute;
    left: 70px;
    z-index: 1;
  }
  .abs-1 {
    width: 164px;
    height: 128px;
    position: absolute;
    top: 111px;
    left: 400px;
    filter: brightness(0) saturate(100%) invert(54%) sepia(41%) saturate(2399%)
      hue-rotate(331deg) brightness(93%) contrast(115%);
  }

  .box-1 {
    background-color: var(--green);
    width: 470px;
    height: 476px;
    float: left;
  }
  .box-2 {
    width: 170px;
    height: 422px;
    background-color: var(--yellow);
    position: absolute;
    top: 54px;
    left: 0px;
  }
  .play {
    width: 100px;
    height: 100px;
    position: absolute;
    top: -50px;
    left: -50px;
  }
}
// main content 1
.main-content-1 {
  max-width: 1440px;
  max-height: 770px;
  background-color: var(--dark);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 150px;

  // main img

  .main-img {
    position: relative;

    .img-02 {
      // width: 570px;
      // height: 570px;
      margin-top: 100px;
      margin-bottom: 100px;
      object-fit: cover;
    }
    .abs-2 {
      width: 114px;
      height: 158px;
      color: var(--yellow);
      position: absolute;
      top: 402px;
      left: 513px;
      filter: brightness(0) saturate(100%) invert(98%) sepia(42%)
        saturate(2044%) hue-rotate(316deg) brightness(102%) contrast(104%);
    }
  }

  // main-content

  .content {
    justify-content: center;
    float: left;
    width: 470px;
    height: 442px;
    margin-top: 164px;
    margin-bottom: 164px;
    margin-left: 130px;
    margin-right: 135px;

    .sub-heading {
      color: var(--orange);
      margin-bottom: 6px;
    }

    h2 {
      color: var(--white);
      margin-bottom: 18px;
    }

    p {
      color: var(--grey);
    }

    .btn {
      padding: 15px 35px;
      background-color: var(--orange);
      color: var(--white);
      font-weight: 600;
      font-style: 18px;
      line-height: 30px;
    }
    td {
      font-weight: 400;
      font-size: 18px;
      line-height: 30px;
      color: var(--grey);
    }
    th {
      text-align: left;
      color: var(--white);
      margin-bottom: 4px;
      font-weight: 700;
      font-size: 24px;
      line-height: 34px;
    }
    table {
      width: 100%;
      height: 68px;
      margin-top: 28px;
      margin-bottom: 38px;
    }
  }
}

// main content 2

.main-content-2 {
  margin-bottom: 150px;

  .content {
    margin-bottom: 70px;
    text-align: center;
    width: 470px;
    height: 166px;

    h2 {
      margin-top: 6px;
      margin-bottom: 18px;
    }
    p,
    .sub-heading {
      color: var(--grey);
    }
  }
  img {
    // width: 370px;
    // height: 370px;
    object-fit: cover;
  }
  article {
    position: relative;
  }
  h4 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--dark);
    top: 298px;
    left: 35px;
    background-color: var(--white);
    width: 330px;
    height: 72px;
    padding: 20px 60px;
    position: absolute;
  }
  .card-1 {
    color: var(--white);
    background-color: var(--orange);
  }
  .col-4 {
    padding-top: 15px;
  }
  .btn {
    padding: 15px 35px;
    background-color: var(--orange);
    color: var(--white);
    margin-top: 55px;
    margin-left: auto;
    margin-right: auto;
  }
}

// main content 3
.main-content-3 {
  margin-bottom: 150px;
  // main img

  .main-img {
    position: relative;

    .img-03 {
      // width: 570px;
      // height: 570px;
      object-fit: cover;
    }
    .abs-3 {
      position: absolute;
      top: 191px;
      left: -49px;
      width: 117px;
      height: 129px;
      filter: brightness(0) saturate(100%) invert(54%) sepia(41%)
        saturate(2399%) hue-rotate(331deg) brightness(93%) contrast(115%);
    }

    .cover-1 {
      width: 20px;
      height: 220px;
      background-color: var(--orange);
      position: absolute;
      left: 550px;
      top: 0;
    }
  }

  // main content

  .content {
    width: 470px;
    height: 390px;
    // justify-content: center;
    float: left;
    margin-top: 90px;

    margin-left: 115px;
    margin-right: 135px;
    display: block;

    .sub-heading {
      color: var(--grey);
      margin-bottom: 6px;
    }

    h2 {
      color: var(--dark);
      margin-bottom: 18px;
    }

    p {
      color: var(--grey);
      margin-bottom: 28px;
    }

    li {
      font-weight: 500;
      font-style: 18px;
      line-height: 30px;
      margin-bottom: 12px;
    }
    li::before {
      content: ".";
      padding: 0 10px;
    }
  }
}

// main content-4
.main-content-4 {
  margin-bottom: 150px;
  // main img

  .main-img {
    position: relative;

    .img-04 {
      // width: 570px;
      // height: 570px;
      object-fit: cover;
      position: relative;
    }
    .abs-4 {
      width: 130px;
      height: 93px;
      transform: scalex(-1);
      position: absolute;
      top: 268px;
      left: -65px;
      filter: brightness(0) saturate(100%) invert(29%) sepia(81%) saturate(874%)
        hue-rotate(118deg) brightness(95%) contrast(99%);
    }
  }

  // main content

  .content {
    width: 470px;
    height: 346px;
    float: right;
    margin-top: 94px;
    margin-bottom: 90px;
    margin-left: 115px;
    margin-right: 135px;
    display: block;
    .sub-heading {
      color: var(--grey);
    }

    h2 {
      color: var(--dark);
      margin-bottom: 18px;
      margin-top: 6px;
    }

    p {
      color: var(--grey);
      margin-bottom: 28px;
    }
    .btn {
      padding: 15px 35px;
      background-color: var(--orange);
      color: var(--white);
      font-weight: 600;
      font-style: 18px;
      line-height: 30px;
    }
  }
}

// main content 5
.main-content-5 {
  background-color: var(--dark);
  max-width: 1440px;
  height: 1477px;
  margin-left: auto;
  margin-right: auto;

  .content {
    margin-top: 100px;
    margin-bottom: 70px;
    text-align: center;
    width: 470px;
    height: 166px;

    h2 {
      margin-top: 6px;
      margin-bottom: 18px;
      color: var(--white);
    }

    .sub-heading {
      color: var(--orange);
    }
    p {
      color: var(--grey);
    }
  }

  // main card
  .card {
    position: relative;
    margin-bottom: 30px;
    img {
      // width: 370px;
      // height: 370px;
      object-fit: cover;
    }
    .btn {
      color: var(--white);
      background-color: var(--orange);
      width: 170px;
      height: 60px;
      position: absolute;
      left: 99px;
      top: 280px;
      font-size: 18px;
      line-height: 30px;
    }
    .infor {
      text-align: center;
      margin-top: 18px;
    }
    h4 {
      color: var(--white);
    }
  }
  .btn {
    display: block;
    color: var(--white);
    background-color: var(--orange);
    font-size: 18px;
    line-height: 30px;
    width: 170px;
    height: 60px;

    margin-left: auto;
    margin-right: auto;
  }
}

// main content 6

.main-content-6 {
  background-color: var(--yellow-light);
  max-width: 1440px;
  max-height: 628px;
  margin-right: auto;
  margin-left: auto;
  .content {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 70px;
    .sub-heading {
      color: var(--dark);
    }
    h2 {
      margin-top: 6px;
    }
  }
  .box {
    display: flex;
    width: 270px;
    height: 270px;
    background-color: var(--white);
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
  }
  .card {
    // max-width: 150px;
    // max-height: 100px;
  }
}
//  main content 7
.main-content-7 {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
  background-color: var(--white);
  .content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
    align-items: end;
    h2 {
      width: 469px;
      height: 104px;
    }
  }

  // card

  .sub-content {
    border: 1px solid #e6efec;
    padding: 30px;
    margin-bottom: 55px;
    &.card-2 {
      border: none;
      box-shadow: 0 20px 70px rgba(14, 20, 18, 0.07);
    }
    .avatar {
      width: 64px;
      height: 64px;
      border-radius: 50%;

      margin-bottom: 30px;
      object-fit: cover;
    }
    .icon {
      width: 27px;
      height: 24px;
      margin-top: 30px;
      margin-bottom: 12px;
    }
  }
  .move {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 150px;
  }
}

// main content 8

.main-content-8 {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--white);
  .faq {
    display: inline-block;
    margin-bottom: 70px;
    text-align: center;
    .p {
      display: flex;
      justify-content: space-evenly;
      .p1 {
        color: var(--orange);
      }
      h2 {
        display: inline;
      }
    }
  }

  h4 {
    padding-top: 15px;
  }

  .content {
    box-shadow: 0 20px 70px rgba(14, 20, 18, 0.07);
    padding: 20px 20px;
    margin-bottom: 30px;
    p {
      margin-top: 18px;
      margin-bottom: 30px;
    }
  }

  .title-01 {
    display: flex;
    justify-content: space-between;
    align-items: end;
    .arrow-01 {
      width: 28px;
      height: 28px;
    }
  }

  .title-02 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid var(--grey);
    border-bottom: 1px solid var(--grey);
    .arrow-02 {
      width: 28px;
      height: 28px;
    }
    h4 {
      padding-bottom: 30px;
      padding-top: 30px;
    }
  }
  .title-03 {
    display: flex;
    justify-content: space-between;
    align-items: end;
    .arrow-02 {
      width: 28px;
      height: 28px;
    }
    h4 {
      padding-top: 30px;
    }
  }
}

//main content 9

.main-content-9 {
  margin-top: 150px;
  margin-bottom: 150px;
  max-width: 1440px;
  background-color: var(--white);
  margin-left: auto;
  margin-right: auto;
  .content {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 70px;
    .sub-content {
      width: 470px;
      height: 166px;
      align-items: end;
      h2 {
        margin-top: 6px;
        margin-bottom: 18px;
      }
    }

    .btn {
      width: 158px;
      height: 60px;
      padding: 0 35px;
      background-color: var(--orange);

      color: var(--white);
    }
  }
  .infor {
    h4 {
      margin-bottom: 12px;
    }
  }
  .sub-infor {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    .avatar {
      margin-right: 16px;
    }
  }
}

// content 10

.main-content-10 {
  max-width: 1440px;
  max-height: 494px;
  background-color: var(--green);
  text-align: center;
  margin-left: auto;
  margin-right: auto;

  span,
  h2,
  p,
  .btn {
    color: var(--white);
  }
  .content {
    display: block;
    margin-top: 100px;
    margin-bottom: 100px;
    h2 {
      margin-top: 6px;
      margin-bottom: 12px;
    }
    .btn {
      margin-top: 38px;
      width: 242px;
      height: 60px;
      background-color: var(--orange);
    }
    p {
      width: 470px;
      height: 90px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
