<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Practive Areas</title>
    <%- include("./partials/head.ejs") %>
  </head>
  <body>
    <!-- header -->
    <div class="wrapper">
      <section class="practice-header">
        <div class="container">
          <div class="row">
            <header class="col"><%- include("./partials/header.ejs") %></header>
          </div>
        </div>
        <div class="practice-wrapper">
          <div class="container">
            <div class="row">
              <div class="col-8 offset-2">
                <div class="content">
                  <span>#Practice Areas</span>
                  <h1>Our Practice Areas to Serve You</h1>
                  <p>
                    Where every injury is personal. We are a different kind of
                    law firm. Let our small, passionate group of trial lawyers
                    fight for your rights!
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- main -->
      <main>
        <section class="practice-content-1">
          <div class="container">
            <div class="row">
              <div class="col-6 offset-3">
                <div class="sub-content-1">
                  <span>#Services</span>
                  <h2>Our Practice Areas</h2>
                  <p>
                    Where every injury is personal. We are a different kind of
                    law firm. Let our small, passionate group of trial lawyers
                    fight for your rights!
                  </p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-4">
                <div class="practice-card">
                  <img src="./img/practice-img-01.png" alt="" />
                  <button class="btn btn-01">Personal Injury Law</button>
                </div>
              </div>
              <div class="col-4">
                <div class="practice-card">
                  <img src="./img/practice-img-02.png" alt="" />
                  <button class="btn">Employment Law</button>
                </div>
              </div>
              <div class="col-4">
                <div class="practice-card">
                  <img src="./img/practice-img-03.png" alt="" />
                  <button class="btn">Immigration Law</button>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-4">
                <div class="practice-card">
                  <img src="./img/practice-img-04.png" alt="" />
                  <button class="btn">Family Law</button>
                </div>
              </div>
              <div class="col-4">
                <div class="practice-card">
                  <img src="./img/practice-img-05.png" alt="" />
                  <button class="btn">Divorce Law</button>
                </div>
              </div>
              <div class="col-4">
                <div class="practice-card">
                  <img src="./img/practice-img-06.png" alt="" />
                  <button class="btn">Property</button>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="main-content-10">
          <div class="container">
            <div class="row">
              <div class="col-6 offset-3">
                <div class="content">
                  <span>#CTA</span>
                  <h2>Dealing With a Issue?</h2>
                  <p>
                    Where every injury is personal. We are a different kind of
                    law firm. Let our small, passionate group of trial lawyers
                    fight for your rights!
                  </p>
                  <button class="btn">Get a Consultations</button>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
      <!-- footer -->
      <footer><%-include("./partials/footer.ejs") %></footer>
    </div>
    <script type="module" src="./main.js"></script>
  </body>
</html>
